@font-face {
    font-family: 'Fontin SmallCaps Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Fontin SmallCaps Regular'), url('font/Fontin-SmallCaps.woff') format('woff');
    }

:root{
    --mainbgcolor: black;
    --color-normal: rgb(185,189,193);
    --color-magic: rgb(136,136,255);
    --color-rare: rgb(255,255,119);
    --color-unique: rgb(175,96,37);
    --color-crafted: rgb(184,218,242);
    --color-fractured: rgb(162,145,98);
    --color-corrupted: rgb(210,0,0);

    --hsla-color-normal: 0,0%,78%;
    --hsla-color-magic: 240,100%,77%;
    --hsla-color-rare: 60,100%,73%;
    --hsla-color-unique: 26,65%,42%;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--mainbgcolor);
    font-size: calc(12px + 0.4vw);
    font-family: 'Fontin SmallCaps Regular';
}
article{
    max-width: 2000px;
}
p{
    margin: 0.5em;
}
textarea::placeholder{
    font-size:20px;
}
input[type=checkbox]{
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  cursor: pointer;
}
.navModal{
    position: fixed;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#Nav::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.openModalBtn{
    position: fixed;
    right: 15px;
    top: 15px;
    width: 4rem;
    height: 4rem;
}
@media screen and (max-width: 768px){
    .openModalBtn{
        position: relative;
        display: block;
        top: 50px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 30px;
    }
}
.modal_bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-Color: rgba(0, 0, 0, 0.7);
    z-Index: 2000;
}
.modal_content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 90%;
    background-Color: lightgrey;
    padding: 1rem;
    z-Index: 2001;
}

.modal_content table tr{
    border: 1px solid black;
    padding: 0.35em;
}

/* modal table*/
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
  
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
  
table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .5rem;
}
  
table th,
table td {
    padding: .5rem;
    text-align: center;
    vertical-align: center;
}
  
table th {
    font-size: 1em;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
  
@media screen and (max-width: 768px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.5rem;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .5rem;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1rem;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

/*Item socket*/
.socket-R{
    color: #FF7F7F;
}
.socket-B{
    color: #ADD8E6;
}
.socket-G{
    color: #90EE90;
}


/*Item color*/
.item_stats{
    color: var(--color-magic);
}
.item_corrupted{
    color: var(--color-corrupted);
}
.item_crafted{
    color: var(--color-crafted);
}
.item_fractured{
    color: var(--color-fractured);
}
.item_enchanted{
    color: var(--color-crafted);
}
.item_rarity-normal{
    color: var(--color-normal);
}
.item_rarity-magic{
    color: var(--color-magic);
}
.item_rarity-rare{
    color: var(--color-rare);
}
.item_rarity-unique{
    color: var(--color-unique);
}

/*Item border*/
.item_border-normal{
    border: 1px solid var(--color-normal);
}
.item_border-magic{
    border: 1px solid var(--color-magic);
}
.item_border-rare{
    border: 1px solid var(--color-rare);
}
.item_border-unique{
    border: 1px solid var(--color-unique);
}

/*Item background*/
.item_background-normal{
    background-color: hsla(var(--hsla-color-normal),0.1);
}
.item_background-magic{
    background-color: hsla(var(--hsla-color-magic),0.1);
}
.item_background-rare{
    background-color: hsla(var(--hsla-color-rare),0.1);
}
.item_background-unique{
    background-color: hsla(var(--hsla-color-unique),0.1);
}

.item_split{
    display: block;
    height: 2px;
    width: 70%;
    margin: 1rem auto;
}
.item_split-normal{
    background-image: linear-gradient(to right, transparent, hsla(var(--hsla-color-normal),0.5), transparent);
}
.item_split-magic{
    background-image: linear-gradient(to right, transparent, hsla(var(--hsla-color-magic),0.5), transparent);
}
.item_split-rare{
    background-image: linear-gradient(to right, transparent, hsla(var(--hsla-color-rare),0.5), transparent);
}
.item_split-unique{
    background-image: linear-gradient(to right, transparent, hsla(var(--hsla-color-unique),0.5), transparent);
}

.lds-dual-ring {
    display: flex;
    justify-content: center;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #scrollBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #scrollBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }